<!DOCTYPE html> 
<html>
<head>
	<meta charset="UTF-8">
	<title>Perception</title>	
	<link rel="stylesheet" type="text/css" href="../view/css/main.css">	
</head>

<body>
<form method="GET" action="../controller/control.php">

	<div class="main_box">
		<br/>
		<span id="search_title">Perception</span>
		<br/>			
			<input id='searchbox' type="text" name="search_text" size="60" maxlength="35"/>
			<p>	
				<b>List</b>&nbsp;
				<select name='query_num'>
				  <option value="10">10</option>
				  <option value="25">25</option>
				  <option value="50">50</option>
				  <option value="100">100</option>
				</select> 								
				<input type="radio" name="query_type" value="course_list" checked="checked"><b>Courses</b>  
				<input type="radio" name="query_type" value="material_list"><b>Materials</b>
				<br/>																  		
			<p/>				
			<input class="button_link" type="submit" name='c_home_search' value="Search" size=30 />
			<br/><br/>
			Alternatively, 
			<a href='/perception/WebContent/controller/control.php?c_header_login=1'>login</a> or 
			<a href='/perception/WebContent/controller/control.php?c_header_register=1'>register</a>
	</div>
</form>
</body>
</html>
