@CHARSET "UTF-8";


.course_main_box
{
	position:relative;
	margin-left:auto;
	margin-right:auto;
	margin-top:70px;
	padding:10px;
	padding-right:20px;
	width:60pc;	
	
	background:#CCCCFF;	
	box-shadow: 5px 5px 10px 5px #999999;
	
	text-align:center;			
}

#course_main_box_card
{
	text-align:left;
	background-color:#DDDDDD;
	
	padding:20px;			
	border-radius:20px;		
	box-shadow: 10px 10px 5px #888888;
}

#course_content_box_inner
{
	overflow:hidden;	
}

#course_title
{
	font-size: 25pt;
	font-weight: bold;	
}

#course_subtitle
{
	font-size: 18pt;
	font-weight: bold;
}

#course_content_box
{	
	position:relative;
	margin-top:20px;	
}

#course_video
{	
	float:right;
}


#course_details
{
	float:left;
	color:black;
	width:35pc;	
}