@CHARSET "UTF-8";

/* results page */
#results_title
{	
	font-size:12pt;
	color:black;		
}

.results_main_box
{
	position:relative;
	margin-left:auto;
	margin-right:auto;
	margin-top:60px;
	padding:10px;
	padding-right:20px;
	width:55%;	
	
	background:#ADADAD;	
	box-shadow: 5px 5px 10px 5px #47476B;
	
	text-align:center;
	
}

#results_course_box
{	
	text-align:left;
	background-color:#DDDDDD;
	
	padding:20px;			
	border-radius:20px;		
	box-shadow: 10px 10px 5px #888888;	
}

#results_course_options
{
	
	text-align:right;
	margin-right:10px;
}


#item_name 
{
	font-size:13.5pt;
	font-weight:bold;		
}

#item_subname
{
	font-size:12pt;
	font-weight:bold;			
}

#course_title
{
	font-size:13.5pt;
	font-weight:bold;		
	
}
