<form method="POST" action='../controller/control.php'>
	<div class='header_box'>
		<a id='header_title' href='../controller/control.php'>
			<b>Perception</b>
		</a>&nbsp;&nbsp;&nbsp;&nbsp;	
		<span id='header_options'>
			<?php if ($GLOBALS['login_status'] === true) { ?>
				Logged in as <b><?= $_COOKIE['user_name']?>.</b>&nbsp;&nbsp;&nbsp;			
				<input type='submit' class='button_link' name='c_header_profile' value='Profile'/>
				<input type='submit' class='button_link' name='c_header_logout' value='Logout'/>
			<?php } else { ?>			
				<input type='submit' class='button_link' name='c_header_login' value='Login'/>
				<b>or</b>
				<input type='submit' class='button_link' name='c_header_register' value='Register'/>		
			<?php } ?>
		</span>
	</div>
</form>