<!DOCTYPE html> 
<html>
<head>
	<meta charset="UTF-8">
	<title>Perception</title>	
	<link rel="stylesheet" type="text/css" href="../view/css/main.css">
	<link rel="stylesheet" type="text/css" href="../view/css/searchbox.css">		
</head>

<body>
	<?php include('top.html');?>
	
<form method="GET" action="../controller/control.php"  id="s2">

	<div class="main_box">
		<a href="../controller/control.php"><img border="0" src="../view/image/logo1.jpg" alt="Perception" width="500" height="200"></a>
		<br/>
		<span id="search_title"></span>
		<br/>

		<input name="search_text" type="text" size="40" placeholder="Search..." x-webkit-speech/>			
		<br/>
		<input class="button_link" type="submit" name='c_home_search' value="Search"/>
			<p><font color="black">	
				List&nbsp;
				<select name='query_num'>
				  <option value="10">10</option>
				  <option value="25">25</option>
				  <option value="50">50</option>
				  <option value="100">100</option>
				</select> 								
				<input type="radio" name="query_type" value="course_list" checked="checked">Courses  
				<input type="radio" name="query_type" value="material_list">Materials
				<br/>																  		
			<p/>				
			<br/>
			<?php if (isset($_SESSION['user_name'])) {?>
				Welcome back, <b><?= $_SESSION['user_name'] ?></b><br/>
				<input type='submit' class='button_link' name='c_home_profile' value='View profile'/>
				<input type='submit' class='button_link' name='c_home_logout' value='Log out'/>
			<?php } else { ?>
			Alternatively, 
			<a href='../controller/control.php?c_header_login=1'>login</a> or 
			<a href='../controller/control.php?c_header_register=1'>register</a><br/>
			Interested in providing your courses for all to perceive? Click 
			<a href='../view/provider_login.html'>here</a><br/>
			Interested in having more users perceive your ads? Click 
			<a href='../view/advertiser_login.html'>here</a><br/>
			<?php } ?>
		</div>
	<div id='page_end'></div>
</form>
</body>
</html>
