<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Perception - Login</title>
	<script type=text/javascript src="../view/js/facebook.js"></script>
	<link rel="stylesheet" type="text/css" href="../view/css/main.css">
	<link rel="stylesheet" type="text/css" href="../view/css/login.css">
</head>
<body>
	<?php include('top.html');?>
<form method="post" action='../controller/control.php'>
	<div id="login_box">						
		<span class="loginTitle"><span class='perception'>Perception </span></span><br/>
		<br/>
		<span id='login_subtitle'>
			<span class='secondline'><b>Log in</b> </span>or
			<span class='secondline'><b><a href="../controller/control.php?c_header_register=1">register</b></a> </span>to perceive more.
		</span><br/><br/>		
		
		<!-- Display login error if exists --> 
		<?php if (isset($login_error)) { ?>				
			<b class='color_red' ><?= $login_error ?></b>				
		<?php } ?>			
						 
		<table id="login_table">	
			<tr>
				<td align="right">Email:</td>
				<td><input type="text" name='user_email'/></td>
			</tr>
			<tr>
				<td align="right">Password:</td>
				<td><input type="password" name='user_password'/></td>
			</tr>		
			<tr>
				<td colspan="2" align="center">															
					<input type="submit" size="10" class="button_link" name="c_login_normal" value="Log in"/>																		
					<input type="submit" size="10" class="button_link" name="c_login_register" value="Register" />												
				</td>					
			</tr>
			<tr>
				<td colspan="2" align="center">
					<div id="fb-root"></div>
					<br/>	  
					<fb:login-button show-faces='true' width="200" max-rows="1"></fb:login-button>
				</td>
			</tr>					
		</table>

	</div>
</form>
</body>
</html>