<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Perception - Login</title>
	<script type=text/javascript src="../view/js/facebook.js"></script>
	<link rel="stylesheet" type="text/css" href="../view/css/main.css">
	<link rel="stylesheet" type="text/css" href="../view/css/login.css">
</head>
<body>
<form method="post" action='../controller/control.php'>
	<div id="login_box">						
		<span id="login_title">Welcome to <span class='color_alt'>Perception </span></span><br/>
		<span id='login_subtitle'>
			<span class='color_alt'><b>Log in</b> </span>or
			<span class='color_alt'><b>register</b> </span>to perceive more.
		</span><br/><br/>		
		
		<!-- Display login error if exists --> 
		<?php if (isset($login_error)) { ?>				
			<b class='color_red' ><?= $login_error ?></b>				
		<?php } ?>			
						 
		<table id="login_table">	
			<tr>
				<td align="right"><b>Email:</b></td>
				<td><input type="text" name='user_email'/></td>
			</tr>
			<tr>
				<td align="right"><b>Password:</b></td>
				<td><input type="password" name='user_password'/></td>
			</tr>		
			<tr>
				<td colspan="2" align="center">															
					<input type="submit" class="button_link" name="c_login_normal" value="Log in"/>																		
					<input type="submit" class="button_link" name="c_login_register" value="Register" />												
				</td>					
			</tr>
			<tr>
				<td colspan="2" align="center">
					<div id="fb-root"></div>	  
					<fb:login-button show-faces='true' width="200" max-rows="1"></fb:login-button>
				</td>
			</tr>					
		</table>
		<a href='../controller/control.php'>Back to search page</a>
	</div>
</form>
</body>
</html>