<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Perception - <?= $material->title ?></title>	
	<link rel="stylesheet" type="text/css" href="../view/css/main.css">
	<link rel="stylesheet" type="text/css" href="../view/css/course_view.css">
</head>
<body>
	<?php include('header.html'); ?>
	<div class="course_main_box">
		<div id="course_main_box_card">								
			<span id="course_title"><b><?= $course->name ?></b></span><br/>
			<span id="course_subtitle">				
				<span class='color_alt'><?= $course->provider ?></span> / 
				<span class='color_black'><?= $course->university ?></span>							
			</span>
			<div id='course_content_box'>
				<div id='course_content_box_inner'>
					<div id='course_details'>
						<div id='course_description'>
							<?= $course->description ?>
						</div>					
						<p id='course_duration'>
							<b class='color_alt'>Duration:</b><br/>
							<?= $course->duration ?>
						</p>
						<p id='course_'>
							<b class='color_alt'>Website:</b><br/>
							<a href='<?= $course->website ?>'><?= $course->website ?></a>
						</p>
					</div>					
					<div id='course_video'>
						<iframe id='course_video' width="300" height="300" src='<?= $course->videoURI ?>'> </iframe>						
					</div>
				</div>
			</div>		
			<b>Reviews go here</b><br/>												
		</div>		
	</div>
	<div id='page_end'></div>
</body>
</html>